<div class="example-button-row row" style="display: flex">
    <button mat-stroked-button>Go to Dashboard</button>

    <!-- <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="search survey name" />
        </mat-form-field>
    </form> -->
    <button mat-stroked-button>Filter</button>
</div>
<div class="card-list-container mt-5" style="display: grid; grid-template-columns: auto auto auto auto; margin: 5em">
    <app-card-item *ngFor="let d of fetchedData" [data_]="d"></app-card-item>
</div>
<button (click)="test()">Console</button>