<mat-card class="example-card" style="padding: 0; margin: 1em; border-top: 5px solid #02ca98">
    <label class="radio-card">
    <input
      type="radio"
      name="card"
      class="radio-button"
      [value]="data_.SRV_ID"
      (click)="SelectedSurvey(data_, $event.target)"
      #radioBtn
    />

    <i
      [ngClass]="
        data_.SURVEY_STATUS_EN == 'Published' && radioBtn.checked
          ? 'fa-solid fa-circle-check fa-2x'
          : data_.SURVEY_STATUS_EN == 'Published'
          ? 'fa-regular fa-circle-check fa-2x'
          : data_.SURVEY_STATUS_EN == 'Expired' && radioBtn.checked
          ? 'fa-solid fa-clock fa-2x'
          : data_.SURVEY_STATUS_EN == 'Expired'
          ? 'fa-regular fa-clock fa-2x'
          : ''
      "
      style="color: #02ca98"
      #icon
    ></i>

    <br />
    <mat-card-title class="test">{{ data_.TemplateName }}</mat-card-title>
    <mat-card-content> </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <mat-card-subtitle *ngFor="let date_ of data_.SurveyPeriods">
        <span *ngIf="data_.SurveyPeriods.length == 1">
          {{ date_.START_DATE | date }} - {{ date_.END_DATE | date }}</span
        >
      </mat-card-subtitle>

      <mat-form-field appearance="fill" *ngIf="data_.SurveyPeriods?.length > 1">
        <mat-label>Select Period</mat-label>
        <mat-select>
          <mat-option *ngFor="let date_ of data_.SurveyPeriods">
            {{ date_.START_DATE | date }} - {{ date_.END_DATE | date }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
  </label>
</mat-card>